@model SalonApp.Models.Tblproduct

@{
    ViewBag.Title = "Create";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="useless">
            <h2> @Html.ActionLink("Back to List", "Index") </h2>
        </div>


        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="sec">
                <h1 class="b1">Add New Product</h1>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProdName, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.ProdName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProdName, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProdPrice, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.ProdPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProdPrice, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProdDescrip, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.ProdDescrip, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProdDescrip, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProdQuantity, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.ProdQuantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProdQuantity, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add" class="button1" />
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    <link href="~/Content/style10.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jqueryval")
}
